<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749747768227-hcjjkcrb6eft2b08e95l0k1bsa9bku7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749747768227-hcjjkcrb6eft2b08e95l0k1bsa9bku7d</string>
	<key>API_KEY</key>
	<string>AIzaSyADsGU1_fmq-qJJITuvnQL6FSk4ilcG4us</string>
	<key>GCM_SENDER_ID</key>
	<string>749747768227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proofOfConcept</string>
	<key>PROJECT_ID</key>
	<string>proof-of-concept-3d68c</string>
	<key>STORAGE_BUCKET</key>
	<string>proof-of-concept-3d68c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749747768227:ios:10a0edc1c8c9e102f0e816</string>
</dict>
</plist>